<!DOCTYPE html>
<html class="<%= logged_in? ? "" : "homepage" %>">
  <head>
    <title>Somerslt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= logged_in? ? "" : "homepage" %>">
    <%= yield %>
  </body>
</html>
